{% extends 'main.html' %} {% block content %}

<div class="py-3 bg-primary">
    <div class="container">
        <a class="text-white" href="{% url 'index' %}">Home /</a>
        <a class="text-white" href="{% url 'cart' %}">Cart Item /</a>

    </div>
</div>
<div class="col-md-7">
    <div class="card shadow">
        <div class="card-body">
            <h6>Basic Details</h6>
            <hr>
            <div class="row">

                <div class="col-md-6">
                    <label for="">First Name</label>
                    <input type="text" name="" id="" class="form-control" placeholder="Enter Fisrt Name Name">
                </div>
                <div class="col-md-6">
                    <label for="">Last Name</label>
                    <input type="text" name="" id="" class="form-control" placeholder="Enter Last Name ">
                </div>
                <div class="col-md-6">
                    <label for="">Email</label>
                    <input type="email" name="" id="" class="form-control" placeholder="Enter Email id">
                </div>
                <div class="col-md-6">
                    <label for="">Phone</label>
                    <input type="text" name="" id="" class="form-control" placeholder="Enter Phone Number">
                </div>
                <div class="col-md-6">
                    <label for="">Address</label>
                    <input type="text" name="" id="" class="form-control" placeholder="Enter Address">
                </div>
                <div class="col-md-6">
                    <label for="">City</label>
                    <input type="text" name="" id="" class="form-control" placeholder="Enter City">
                </div>
                <div class="col-md-6">
                    <label for="">State</label>
                    <input type="text" name="" id="" class="form-control" placeholder="Enter State">
                </div>
                <div class="col-md-6">
                    <label for="">Country</label>
                    <input type="text" name="" id="" class="form-control" placeholder="Enter Country">
                </div>
                <div class="col-md-6">
                    <label for="">Pin code</label>
                    <input type="text" name="" id="" class="form-control" placeholder="Enter Pin code">
                </div>
                <div class="col-md-6">
                    <label for="">Payment Option</label><br>
                    <input type="radio" name="fav_language" value="HTML">Paytm
                    <input type="radio" name="fav_language" value="CSS"> Phonepay
                    <input type="radio" name="fav_language" value="JavaScript">Googlepay
                    <input type="radio" name="fav_language" value="CSS"> Cash On Delivery
                </div>
                <div class="mt-3">

                    <a href="success1" class="btn btn-success w-100"> Place Order</a>
                </div>

            </div>
        </div>
    </div>
</div>
{% endblock content %}